* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  --BG_color: #dde2d5;
  --Header_and_footer_color: #78875f;
  --Button_color: #ff9959;
  --Button_text_color: #fff4f4;
  --primary_font: "Borisna";
}

body {
  background-color: var(--BG_color);
}

/**************** Fonts ****************/
@font-face {
  font-family: "Borisna";
  src: url(../fonts/Borisna.woff);
}

@font-face {
  font-family: "Aleo";
  src: url(../fonts/Aleo-Regular.woff);
}

/********************** Header ******************/

header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.logo {
  width: 40%;
  max-width: 200px;
  height: auto;
}

a {
  color: white;
  margin: 10px;
  margin-left: 33px;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}

.off-screen-menu {
  background-color: var(--Header_and_footer_color);
  height: 100vh;
  width: 100%;
  max-width: 230px;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  text-align: left;
  font-size: 2rem;
  transition: 0.3s ease;
  z-index: 98;
}
.off-screen-menu.active {
  left: 0;
}

.off-screen-menu li {
  padding-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.ham-menu {
  height: 40px;
  width: 30px;
  position: relative;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 350%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
  z-index: 99;
}
.ham-menu span:nth-child(3) {
  top: 75%;
  z-index: 99;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, 350%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 350%) rotate(-45deg);
}

/******************* Footer *******************/

footer {
  background-color: var(--Header_and_footer_color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  font-size: 11px;
  text-align: center;
  max-width: 100%;
  color: #eff2ea;
}

footer img {
  width: 70%;
}

footer p {
  padding-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
}

footer h3 {
  padding-bottom: 10px;
  font-family: "Borisna";
  font-weight: 300;
}

.adress {
  padding-bottom: 0;
}

.CTA_footer {
  background-color: var(--Button_color);
  border-radius: 15px;
  color: var(--Button_text_color);
  margin-bottom: 5px;
  padding: 5px;
}

.CTA_footer:hover {
  background-color: var(--Button_text_color);
  color: var(--Button_color);
  cursor: pointer;
}

@media (width > 550px) {
  .CTA_footer {
    margin-left: 12%;
    margin-right: 12%;
  }
}

@media (width > 830px) {
  .CTA_footer {
    margin-left: 20%;
    margin-right: 20%;
  }

  footer {
    font-size: 15px;
  }

  footer img {
    width: 60%;
  }
}

@media (width > 1450px) {
  .CTA_footer {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
  }

  footer {
    font-size: 18px;
  }

  footer img {
    width: 50%;
  }

  footer p {
    padding-bottom: 10px;
  }
}
