html {
  --BG_color: #c0cfa8;
  --Header_and_footer_color: #abbc90;
  --Button_color: #ff9959;
  --Button_text_color: #fff4f4;
  --primary_font: "Borisna";
}

body {
  background-color: var(--BG_color);
}

/**************** Fonts ****************/
@font-face {
  font-family: "Borisna";
  src: url(../fonts/Borisna.woff);
}

@font-face {
  font-family: "Aleo";
  src: url(../fonts/Aleo-Regular.woff);
}

/******************* Hero Section ********************/

h1 {
  font-family: "Borisna";
  font-size: 100px;
  font-weight: 100;
  color: white;
  text-align: center;
  top: 27%;
  position: relative;
}

.hero_section {
  background-image: url(../img/Hero_Section.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  background-color: rgb(255, 255, 255, 0.4);
  margin-bottom: 90px;
  margin-top: 20px;
}

@media (width > 630px) {
  h1 {
    font-size: 110px;
    font-weight: 100;
  }

  .hero_section {
    height: 350px;
  }
}

@media (width > 1400px) {
  h1 {
    font-size: 150px;
    font-weight: 100;
  }

  .hero_section {
    height: 500px;
  }
}

/****************** Top dishes of the year *************/

h2 {
  text-align: center;
  font-family: "Borisna";
  font-size: 40px;
}

.grid_1-1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 140px;
  margin-left: 50px;
  margin-right: 50px;
}

.grid_1-1-1-1-1 img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
}

.grid_1-1-1-1-1 img:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
}

.grid_1-1-1-1-1 p {
  grid-column: 1/3;
  font-family: "Aleo";
}

@media (width > 630px) {
  .grid_1-1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 30px;
  }

  .grid_1-1-1-1-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0;
  }

  .grid_1-1-1-1-1 p {
    grid-column: 3/6;
    grid-row: 1/2;
    margin: 0 30px;
    margin-top: 10px;
  }

  .grid_1-1-1-1-1 img:nth-child(4) {
    grid-column: 5/6;
  }

  .grid_1-1-1-1-1 img:nth-child(3) {
    grid-column: 4/5;
  }

  .grid_1-1-1-1-1 img:nth-child(2) {
    grid-column: 3/4;
  }

  .grid_1-1-1-1-1 img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

@media (width > 750px) {
  .grid_1-1-1-1-1 img:nth-child(1) {
    padding-bottom: 10%;
  }
}

@media (width > 1400px) {
  h2 {
    font-size: 60px;
  }

  .grid_1-1-1-1-1 {
    margin-left: 150px;
    margin-right: 150px;
  }

  .grid_1-1-1-1-1 p {
    margin-right: 150px;
    margin-top: 50px;
    font-size: 20px;
  }
}

/****************** About us section ****************/

.about_us {
  background-color: var(--Button_color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 90px;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.about_us img {
  width: 100%;
  height: 92%;
  border-radius: 30px;
}

.about_us h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  margin-top: 15px;
}

.about_us p {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Aleo";
}

@media (width > 630px) {
  .about_us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    gap: 20px;
    padding-bottom: 20px;
  }

  .about_us img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .about_us img:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .about_us h2 {
    grid-column: 2/3;
    padding-top: 30px;
    font-size: 50px;
  }

  .about_us p {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .about_us img {
    margin-top: 30px;
  }
}

@media (width > 1400px) {
  .about_us {
    column-gap: 0;
  }

  .about_us h2 {
    font-size: 50px;
  }

  .about_us img {
    width: 60%;
    margin-left: 25%;
  }

  .about_us p {
    font-size: 20px;
  }
}
