html {
  --BG_color: #dde2d5;
  --Header_and_footer_color: #78875f;
  --Button_color: #ff9959;
  --Button_text_color: #fff4f4;
  --primary_font: "Borisna";
  --margin_button_recepies: 15px;
}

body {
  background-color: var(--BG_color);
}

/**************** Fonts ****************/
@font-face {
  font-family: "Borisna";
  src: url(../fonts/Borisna.woff);
}

@font-face {
  font-family: "Aleo";
  src: url(../fonts/Aleo-Regular.woff);
}

/****************** Card ******************/

h1 {
  text-align: center;
  font-family: "Borisna";
  margin-top: 30px;
  font-size: 50px;
}

.recipe_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin: 0 30px;
  margin-top: 50px;
}

.recipe_list img {
  width: 100%;
  background-color: var(--Button_text_color);
  padding-bottom: 120px;
  border-radius: 20px;
  margin-bottom: 100px;
  margin-top: 45px;
}

.recipe_list p {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  margin-top: -200px;
  margin-bottom: 15px;
  font-family: "Aleo";
}

.recipe_list img:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.recipe_list a {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--Button_text_color);
  background-color: var(--Button_color);
  margin: 0;
  text-align: center;
  border-radius: 20px;
  padding: 9px;
  margin-left: 55px;
}

/********* filter ********/

#countryFilter {
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  background-color: #ff9959;
  font-family: "Aleo";
}
